[Unit]
Description=Hotness Discord Bot
Requires=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Environment=DISCORD_TOKEN=
WorkingDirectory=/home/ubuntu/hotness-bot.git
ExecStartPre=/usr/bin/yarn
ExecStart=/usr/bin/node index
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
